:root {
    /* Colours */
    --color-text: #000000;
    --color-primary: #0033ff;
    --color-secondary: #b3b3b3;
    --color-dark: #000000;
    --color-bg: #ffffff;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }